<div class="text-center sign-in-outer-div">
    <form (submit)="onLoginSubmit()" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        
        <label for="email" class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="email" name="email">
        
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="password" name="password">
        
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" (ngModel)="rememberUser" (click)="rememberUser = !rememberUser"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <div class="forgot-password mt-4" (click)="showModal(forgotPasswordModal)">Forgot Password?</div>
    </form>
</div>


<ng-template #forgotPasswordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #forgotForm="ngForm">
            <div class="form-group">
                <label for="email">Please enter the email address you signed up with</label>
                <div class="input-group">
                    <input required class="form-control" [(ngModel)]="forgotEmail" name="email">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="forgotForm.invalid" (click)="forgotPassword()">Email
            Password</button>
    </div>
</ng-template>