<div class="container pfb">
    <div class="heading">
        <h3>INDEMNITY</h3>
    </div>
    <div class="section">
        <h4>1. General:</h4>
        <div>
            I hereby accept all of the following terms and conditions and undertake as follows:
        </div>
        <br>
        <div>
            1.1 This document gives the Company permission to make certain information available to Angel Aspirations,
            including but not limited to Car Angel, Sport Angel, Active Angel (“Angel Products”) and/or its employees,
            agents, representatives and/or certain third parties.
        </div>
        <div>
            1.2 I agree that by making certain information available, the Company, Angel Products, its employees,
            agents and/or
            it’s representatives are not responsible for any loss, whether direct, indirect or as a result of
            disclosing the
            information.
        </div>
        <div>
            1.3 I agree that once I have given my permission and consent, the Company may obtain and use all such
            information
            accordingly.
        </div>
        <div>
            1.4 I agree and understand that by giving my permission, I consent to the Company, Angel Products, its
            employees,
            agents and/or it’s representatives tracking and obtaining my information in order to send out alerts,
            notifications and
            my location to authorised third parties, through Angel Products.
        </div>
    </div>
    <div class="section">
        <h4>2. Acknowledgement:</h4>
        <div>
            2.1 I acknowledge that (a) the Company has developed Angel Products in order to use, access and
            record my information in order for the Company, Angel Products, its employees, agents and/or its
            representatives to
            track my whereabouts and to provide third parties with this information; (b) the purpose of Angel Products
            is to
            transfer the data and personal information tracked by designated Angel Product to the below agreed third
            parties in the
            case of an emergency: (i) the chosen contact and/or next of kin, (ii) the relevant insurance company, (iii)
            the
            relevant medical aid provider, (iv) Emergency Medical Services, (v) SAPS, and/or (vi) any other agreed
            third party.
        </div>
        <div>
            2.2 I understand that once the Company has shared my information with the authorised third parties, the
            Company, Angel
            Products, its employees, agents and/or it’s representatives have no further control over this information
            and will not
            be accountable for its safeguarding.
        </div>
        <div>
            2.3 I further understand that the Company, Angel Products, its employees, agents and/or it’s
            representatives will treat
            my information as confidential and in line with applicable laws. I note that the Company will, as required
            by and in
            adhering to applicable laws, protect and maintain the confidentiality of my information.
        </div>
        <div>
            2.4 I acknowledge that I am aware of the nature of the document herein.
        </div>
    </div>
    <div class="section">
        <h4>3. Consent:</h4>
        <div>
            3.1. By consenting, I agree to my information being made available to authorised third parties, employees,
            agents, and/or representatives of the Company through Angel Products for the purposes of (a) monitoring and
            tracking my
            location and (b) the Company obtaining and using my information.
        </div>
        <div>
            3.2. The consent I give is valid from the date and time when I give consent and will continue until I
            revoke such
            consent. I am entitled to change or revoke my consent at any time by formally, in writing, letting the
            Company know of
            my decision. When I revoke my consent, Angel Products will no longer be able to access my information.
        </div>
        <div>
            3.3. I have been made aware of the full terms and conditions, and my consent to all the terms and
            conditions of the
            Company and Angel Products is provided of my own free will without any undue influence from any person
            whatsoever. I
            indicate my full understanding and agreement to consent to use Angel Products, and my signature below
            indicates my
            understanding of the agreement to comply with the terms of this consent form. By consenting to this form, I
            allow all
            authorised third parties, employees, agents and/or representatives of the Company to access my information
            through
            Angel Products.
        </div>
    </div>
    <div class="section">
        <h4>4. Responsibility and Restrictions:</h4>
        <div>
            4.1. Angel Products do not offer warranty or responsibility for any loss, damage,
            loss of profits, business or revenue because of (a) any type of delay, fault, or other failure that is
            caused by the
            service, as well as hardware installation or operation and (b) any negligence on the part the Company,
            Angel Products,
            its employees, agents and/or it’s representatives, which includes radio communication or GSM network in the
            area that
            functions with the hardware or other aspects of your Angel Product Services, such as the help button in
            case of a flat
            tyre or vehicle break down.
        </div>
        <div>
            4.2. This indemnity is irrevocable and constitutes the entire Agreement between the parties, and no
            representation by
            either of the parties or their agents, whether made prior or subsequent to the signing of this Agreement,
            shall be
            binding on either of the parties unless in writing and signed by all the parties hereto.
        </div>
    </div>
    <div class="section mb-3">
        <h4>5. Disclaimer:</h4>
        <div>
            Unless prohibited by law, you agree to hold the Company, Angel Products, its employees, agents and/or it’s
            representatives harmless for any loss or damage caused to you or any third party arising from the service
            provided by
            Angel Products, their service providers, agents and /or employees or Angel Products not being able to
            perform the
            service for any reason, including negligence (including gross negligence).
        </div>
    </div>
</div>