#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.green {
    background-color: green;
}

#flasher {
    width: 100%;
    padding: 10px;
}

pre {
    margin-bottom: 0px;
}
.key {
    color: darkblue;
}
.string {
    color: darkgreen;
}
