<div class="container pfb">

    <form class="form-horizontal multi-step-form">

        <h3>Setup Device:</h3>
        <hr>
        <!-- One "tab" for each step in the form: -->
        <div *ngIf="index == 0">

            <div *ngIf="device.product.mode == 'gsm'" class="form-group create-profile-tel-input">
                <label class="col-12 control-label">What is the mobile number for the device?</label>
                <div class="col-12">
                    <intl-tel-input [name]="'mobileNumber'" [required]="true" [cssClass]="'form-control'"
                        [options]="{ preferredCountries: ['us'], autoPlaceholder: 'off' }" [onlyLocalized]="false"
                        [(E164PhoneNumber)]="device.mobileNumber">
                    </intl-tel-input>
                </div>
            </div>

            <div class="form-group create-profile-tel-input">
                <label class="col-12 control-label">What is the device's unit ID?</label>
                <div class="col-12">
                    <input class="form-control" type="text" [(ngModel)]="device.unitId" name="unitId">
                </div>
            </div>

            <div class="form-group">
                <label class="col-12 control-label">Who will be using this device?</label>
                <div class="col-12">
                    <select class="form-control" [(ngModel)]="device.profileId" name="profileId">
                        <option *ngFor="let profile of profiles" [ngValue]="profile.id">
                            {{profile.name + " " + profile.surname}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12 control-label">What would you like to name this device?</label>
                <div class="col-12">
                    <input class="form-control" type="text" [(ngModel)]="device.name" name="name">
                </div>
            </div>

        </div>

        <div *ngIf="index == 1">

            <div class="form-group">
                <label class="col-12 control-label">What message would you like to send when an alarm is raised from
                    this device?</label>
                <div class="col-12">
                    <textarea class="form-control" [(ngModel)]="device.message" name="message"></textarea>
                </div>
                <div class="col-12 mt-2">
                    <div>The message sent will resemble the following:</div>
                    <div class="ml-3"><small [innerHTML]="getDummyMessage()"></small></div>
                </div>
            </div>

        </div>

        <div *ngIf="index == 2">

            <div class="form-group mt-3">
                <label class="col-12 control-label">Who would you like to notify when an alarm is raised?</label>
                <div class="col-12">
                    <div class="flexit">
                        <label class="col-md-9 control-label">
                            <h5>Contacts:</h5>
                        </label>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 33.3%">Name</th>
                                <th style="width: 33.3%">Number</th>
                                <th style="width: 33.3%">
                                    <div class="btn btn-success pull-right" (click)="openAddContactModal()">Add Contact
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of device.contacts">
                                <td>{{contact.name}}</td>
                                <td>{{contact.number}}</td>
                                <td>
                                    <div class="btn btn-sm btn-danger pull-right" (click)="removeContact(contact)">
                                        Remove</div>
                                </td>
                            </tr>
                            <tr *ngIf="device.contacts.length == 0">
                                <td colspan="12">No contacts</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" class="btn btn-primary" [disabled]="index == 0"
                    (click)="index = index-1">Previous</button>
                <button type="button" class="btn btn-primary" [disabled]="!isStepValid()" (click)="onNextClick()">{{index
                    == finalStep ? 'Submit' : 'Next'}}</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step" [ngClass]="{'active' : index == 0}"></span>
            <span class="step" [ngClass]="{'active' : index == 1}"></span>
            <span class="step" [ngClass]="{'active' : index == 2}"></span>
            <span class="step" [ngClass]="{'active' : index == 3}"></span>
        </div>

    </form>

</div>